#promosBanner{
  img{
    max-height: 180px !important;
    border-radius: 10px;
  }
}

.horizontal-scroll-contenedor{
  width: auto;
  //height: 100px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0px 15px 0px;
  white-space: nowrap !important;
p{
  font-size: 10px;
  color: black;
  font-weight: 700;
}
div{
  height: 50px;
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block !important;
  text-align: center;
  color: #FFF;
  line-height: 50px;
  ion-avatar{
    box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.35);
    -webkit-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.35);
  }
}
}

#promos{
  width: auto;
    height: 100px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap !important;
  p{
    font-size: 10px;
  }
  div{
    width: 100px;
    height: 50px;
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block !important;
    text-align: center;
    color: #FFF;
    line-height: 50px;
  }
}


.input-group{
  ion-icon{
    font-size: 12px;
  }
}

.cantProd{
  margin-left: -23px;
    margin-top: -23px;
    border-radius: 20px;
}

.divisor{
  width: 100%;
  border: 1px solid rgb(241, 241, 241);
}

.catMenu{
  border-bottom: 1px solid #edebeb;
}
