<ion-header [translucent]="true" id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>App</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openCarrito()">
      <ion-icon name="cart-outline" size="20"></ion-icon>
      <ion-badge *ngIf="productosSelect.length > 0" slot="end" class="cantProd">{{productosSelect.length}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">

  <ion-refresher slot="fixed" (ionRefresh)="loadInfoProductos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item lines="inset">
    <ion-icon name="location-outline" slot="start"></ion-icon>
    <ion-label>
      <p>Dirección de entrega:</p>
      <h3>{{direccion?.place_name}}</h3>
    </ion-label>
   <ion-label slot="end">
    <p style="font-size: 9px;" routerLink="/home/direcciones">Cambiar dirección</p>
   </ion-label>
  </ion-item>

  <div id="promosBanner" class="carousel slide" data-bs-ride="carousel" style="width: 90%; margin: auto;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/test/banner1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/test/banner2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/test/banner3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <div class="row mt-3" id="promos">
    <ion-segment [scrollable]="true" value="{{data[0]?.nombre}}">
      <ion-segment-button value="{{item.nombre}}" *ngFor="let item of data" (click)="info(item.productos)">
        <ion-icon name="home" ></ion-icon>
        <p>{{item.nombre}}</p>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="productos">
    <ion-card *ngFor="let item of productos; let i = index">
      <ion-row >
        <ion-col size="4">
          <img *ngIf="!item.foto" alt="Silhouette of mountains" src="../../assets/logo-2.jpg" />
          <img *ngIf="item.foto" alt="Silhouette of mountains" src="../../assets/logo-2.jpg" />
        </ion-col>
        <ion-col>
          <ion-card-header style="padding: 0 !important;">
            <ion-card-title style="font-size: 15px;">
              {{item?.nombre}}
            </ion-card-title>
            <ion-card-subtitle>{{item?.descripcion}} </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="text-center" style="padding: 0 !important;">
            <ion-badge slot="end"  color="tertiary" style="float: left; width: 30%; font-size: 8px;" class="mt-2">{{item.pvn | currency:'MXN'}}</ion-badge>
            <div class="input-group mt-1" style="width: 60%; float: right;">
              <span class="input-group-text" (click)="cantProduct('-',item._id,i)"><ion-icon  name="remove-outline"></ion-icon></span>
              <input type="number" class="form-control" value="0" style="text-align: center; font-size: 10px;" name="numbersCant[{{i}}]" [(ngModel)]="numbersCant[i]">
              <span class="input-group-text" (click)="cantProduct('+',item._id,i)"><ion-icon name="add-outline"></ion-icon></span>
            </div>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
