#promosBanner{
  img{
    max-height: 180px !important;
    border-radius: 10px;
  }
}


#promos{
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap !important;
  p{
    font-size: 10px;
  }
}


.input-group{
  ion-icon{
    font-size: 12px;
  }
}

.cantProd{
  margin-left: -23px;
    margin-top: -23px;
    border-radius: 20px;
}
