<ion-menu contentId="main-content2">
  <ion-header>
    <ion-toolbar>
      <ion-title class="text-center">
        <img src="../assets/logo-1.png" class="m-1" width="80" alt="" srcset="">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-item lines="none" routerLink="/home/direcciones/listado">
        <ion-icon name="location" slot="start" ></ion-icon>
        <ion-label>Mis direcciones</ion-label>
      </ion-item>
    </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/home/listado-tarjeta">
          <ion-icon name="card" slot="start" ></ion-icon>
          <ion-label>Mi Cartera</ion-label>
        </ion-item>
      </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item lines="none" routerLink="/home/tab2">
        <ion-icon name="document-text" slot="start"></ion-icon>
        <ion-label>Mis Pedidos</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <div class="divisor"></div>
    <ion-label>Categorias: </ion-label>
    <ion-menu-toggle *ngFor="let item of data">
      <ion-item [button]="true" lines="none" class="catMenu" (click)="info(item.productos)">
        <ion-avatar slot="start" style=" width: 45px; height: 45px;">
          <img src="{{api+'lioren/file/'+item.nombre+'.png'}}" style="width: auto;">
        </ion-avatar>
        <ion-label style="font-size: 12px;">{{item.nombre}}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<ion-header [translucent]="true" id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>App</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openCarrito()">
      <ion-icon name="cart-outline" size="20"></ion-icon>
      <ion-badge *ngIf="productosSelect?.length > 0" slot="end" class="cantProd">{{productosSelect.length}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content2" style="--background: #F8F9F9;">

  <ion-refresher slot="fixed" (ionRefresh)="loadInfoProductos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item lines="inset">
    <ion-icon name="location-outline" slot="start"></ion-icon>
    <ion-label>
      <p>Dirección de entrega:</p>
      <h3>{{direccion?.lugar}}</h3>
    </ion-label>
   <ion-label slot="end">
    <p style="font-size: 9px;" (click)="loadModalDir()">Cambiar dirección</p>
   </ion-label>
  </ion-item>

  <div id="promosBanner" class="carousel slide" data-bs-ride="carousel" style="width: 90%; margin: auto;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/test/banner1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/test/banner2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/test/banner3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <p style="margin: 15px 15px; font-weight: 900;">Categorias:</p>
  <div class="horizontal-scroll-contenedor">
    <div class="text-center" *ngFor="let item of data" (click)="info(item.productos)">
      <ion-avatar style="margin: auto !important; width: 45px; height: 45px;">
        <img src="{{api+'lioren/file/'+item.nombre+'.png'}}" style="width: auto;">
      </ion-avatar>
      <p>{{item.nombre}}</p>
    </div>
  </div>

  <div class="productos">
    <ion-card *ngFor="let item of productos; let i = index" style="border-radius: 10px;">
      <ion-row >
        <ion-col size="4">
          <img *ngIf="!item.foto" style="border-radius: 10px;" src="../../assets/logo-2.jpg" />
          <img *ngIf="item.foto" style="border-radius: 10px;" src="{{api+'producto/foto/'+item.foto}}" />
        </ion-col>
        <ion-col>
          <ion-card-header style="padding: 0 !important;">
            <ion-card-title style="font-size: 15px;">
              {{item?.nombre}}
            </ion-card-title>
            <ion-card-subtitle>{{item?.descripcion}} </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="text-center" style="padding: 0 !important;">
            <ion-badge slot="end"  color="tertiary" style="float: left; width: 30%; font-size: 8px;" class="mt-2">{{item.precioventabruto | currency:'CLP'}}</ion-badge>
            <div class="input-group mt-1" style="width: 60%; float: right;">
              <span class="input-group-text" (click)="cantProduct('-',item.id,i)"><ion-icon  name="remove-outline"></ion-icon></span>
              <input type="number" class="form-control" value="0" style="text-align: center; font-size: 10px;" name="numbersCant[{{i}}]" [(ngModel)]="numbersCant[i]">
              <span class="input-group-text" (click)="cantProduct('+',item.id,i)"><ion-icon name="add-outline"></ion-icon></span>
            </div>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
