<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-avatar style="margin: auto !important; margin-top: 100px !important;">
    <img src="https://ui-avatars.com/api/?name={{usuario.persona?.nombre}}&background=d2c4ff&size=200" style="width: auto;">
  </ion-avatar>
  <div style="margin-top: 20px; text-align: center;">
    <ion-card-subtitle class="m-auto">¡Hola!</ion-card-subtitle>
    <ion-card-title>{{usuario.persona?.nombre}}</ion-card-title>
  </div>

  <ion-list lines="inset" style="margin-top: 10px; margin-right: 15px;">
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-note slot="end">{{usuario.persona?.nombre + ' ' + usuario.persona?.apellidos}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Usuario: </ion-label>
      <ion-note slot="end">{{usuario.email}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Telefono: </ion-label>
      <ion-note slot="end">{{usuario.persona?.telefono}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>RFC: </ion-label>
      <ion-note slot="end">{{usuario.persona?.rfc}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Registrado desde: </ion-label>
      <ion-note slot="end">{{usuario.create_at | date:'dd/MM/yyyy HH:MM'}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
