<ion-app>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="text-center">
          <img src="../assets/logo-1.png" class="m-1" width="80" alt="" srcset="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item routerLink="direcciones">
        <ion-icon name="location" slot="start"></ion-icon>
        <ion-label>Mis direcciones</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
